*{
    padding: 0;
    margin: 0;

}
html{
    background-image: url("/imagenes/bakground html.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

body{
    background-color: #66666688;
    height: 100vh;
}

h1{
    font-size: 60px;
    text-align: center;
    padding: 0px;
     text-shadow: 3px 3px rgb(177, 116, 116);  
}

nav{
    width:100%;
    height: 50px;
    background-color: #333;

}

nav ul{
    width:100%;
    list-style:none;
    margin: 0 auto;
    font-size: 28px;
    display: flex;
    justify-content:center;
}

nav a{
    text-decoration: none;
    width: 100%;
    margin: 0 auto;
}

nav>ul>li {
    line-height: 50px;
    float: left;
    border-right: 1px solid gray;
    transition: all 500ms;

}

nav>ul>li a{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

nav>ul>li:first-child {
    border-left: 1px solid gray;
}

nav>ul>li:hover {
    background-color: #70b231;
    box-shadow: 0 0 4px green inset;
    cursor: pointer;
}

img{
    margin: 0px;
    padding: 0px;
    width: 12%;
    position: relative;
    top: 177px;
    padding-right: 10px;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
}

p {
    width: 60%;
    font-size: 28px;
    border:  solid black;
   text-align: center;
   border-radius: 10px;
   margin: 0 auto;
   margin-top: 10px;
}